[submodule "keiyoushi"]
	path = keiyoushi
	url = https://github.com/keiyoushi/extensions
[submodule "kohi-den"]
	path = kohi-den
	url = https://github.com/Kohi-den/extensions
[submodule "dark"]
	path = dark
	url = https://github.com/Dark25/aniyomi-extensions
	branch = repo
