[submodule "extensions/keiyoushi"]
	path = extensions/keiyoushi
	url = https://github.com/keiyoushi/extensions
	branch = repo
[submodule "extensions/yuzono"]
	path = extensions/yuzono
	url = https://github.com/yuzono/anime-repo
	branch = repo
